<header id="header" class="darkHeader">
    <div class="container">
        <nav>
           
            <div class="menu-icons open">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <ul class="nav-list">
                <div class="menu-icons close">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </div>
                <li class="nav-item">
                    <a style="cursor: pointer;"  (click)="redirectNosotros(name,idFun)"  class="nav-link">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a [routerLinkActive]="['current']" [routerLink]="['/fundacion',name,idFun,'mascotas','todos','1']" class="nav-link">Mascotas</a>
                </li>
                <li class="nav-item" *ngIf="permission && permission == true">
                    <a  [routerLinkActive]="['current']" [routerLink]="['/fundacion',name,idFun,'voluntarios','todos','1']" class="nav-link">Voluntarios</a>
                </li>
                <li class="nav-item" *ngIf="permission && permission == true">
                    <a [routerLinkActive]="['current']" [routerLink]="['/fundacion',name,idFun,'emergencias','todos','1']" class="nav-link">Emergencias</a>
                </li>
                <li class="nav-item" *ngIf="permission && permission == true">
                    <a [routerLinkActive]="['current']" [routerLink]="['/fundacion',name,idFun,'adopciones','todos','1']" class="nav-link">Adopciones</a>
                </li>
                <li class="nav-item" >
                    <a [routerLinkActive]="['current']" [routerLink]="['/fundacion',name,idFun,'donaciones','todos','1']" class="nav-link">Donaciones</a>
                </li>
                <li class="nav-item">
                    <a [routerLinkActive]="['current']" [routerLink]="['/fundacion',name,idFun,'contactanos']" class="nav-link">Contactanos</a>
                </li>
               
                
            </ul>
            <ul class="nav-list2">
                <li class="nav-item" *ngIf="currentUser">
                    <div class="btn-group dropNAV"> 
                        <button (click)="obtallnotificaciones(1);" type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fa fa-bell" aria-hidden="true"></i> <span class="badge badge-light"></span>
                        </button>
                        <div class="dropdown-menu DROP dropdown-menu-right" id="dropNOTIF">
                            <div class="containerNotifi">
                                <div class="titulo">
                                    <h4>Notificaciones</h4>
                                 
                                </div>
    
                                <div class="dropdown-divider"></div>
                                <div id="divNotificacion" class="notificacion">
    
                                    <p style="padding: 1rem 1rem;" *ngIf="notificaciones.length == 0">No existe notificaciones</p>
                                    <p style="padding: 1rem 1rem;" *ngIf="currentUser.usuario.estado == 2" >Tu cuenta aún no se encuentra activa. Para activarla <a [routerLink]="['/fundacion',idFun,'actualizar-perfil','all']">actualiza tus datos</a></p>
    
                                    <div class="notiS" *ngFor="let not of notificaciones" [class.activeNT]="not.estado == 1">
                                        <!--NOTIFICACION TIPO EMERGENCIA-->
                                        <div class="contNot"  [routerLink]="['/perfil-emergencia', idFun,not.emergencia._id]" *ngIf="not.tipo == 2">
                                            <div class="imgnotiS" *ngIf="not.voluntario">
    
                                                <img *ngIf="not.voluntario.foto" src="{{url + 'obtener-foto/' + not.voluntario.foto}}">
                                                <img *ngIf="!not.voluntario.foto" src="../../../../assets/img/Captura2.png">
                                            </div>
                                            <div class="imgnotiS" *ngIf="not.ciudadano">
    
                                                <img *ngIf="not.ciudadano.foto" src="{{url + 'obtener-foto/' + not.ciudadano.foto}}">
                                                <img *ngIf="!not.ciudadano.foto" src="../../../../assets/img/Captura2.png">
                                            </div>
                                            <div class="textnotiS" >
                                                <p *ngIf="not.ciudadano">{{not.ciudadano.nombres}} {{not.ciudadano.apellidos}} a publicado una nueva emergencia de nivel {{not.emergencia.nivelEmergencia}}</p>
                                                <p *ngIf="not.voluntario">{{not.voluntario.nombres}} {{not.voluntario.apellidos}} a publicado una nueva emergencia de nivel {{not.emergencia.nivelEmergencia}}</p>
                                            </div>
                                         
                                    
                                            <div class="imgnotiS2" >
                                                    <img *ngIf="not.tipo == 'emergencia' && not.emergencia.fotoMascota" src="{{url + 'obtener-imagen-emergencia/' + not.emergencia.fotoMascota}}">
                                                    <img *ngIf="!not.emergencia.fotoMascota" src="../../../../assets/img/Captura2.png">
                                            </div>
                                           
                                        </div>
                                        <!--NOTIFICACION TIPO ADOPCION-->
                                        <div class="contNot"  (click)="brake.emit('hola')" *ngIf="not.tipo == 1 ">
                                            <div class="imgnotiS" *ngIf="not.voluntario">
    
                                                <img *ngIf="not.voluntario.foto" src="{{url + 'obtener-foto/' + not.voluntario.foto}}">
                                                <img *ngIf="!not.voluntario.foto" src="../../../../assets/img/Captura2.png">
                                            </div>
                                            <div class="imgnotiS" *ngIf="not.ciudadano">
    
                                                <img *ngIf="not.ciudadano.foto" src="{{url + 'obtener-foto/' + not.ciudadano.foto}}">
                                                <img *ngIf="!not.ciudadano.foto" src="../../../../assets/img/Captura2.png">
                                            </div>
                                            <div class="textnotiS">
                                                <p *ngIf="not.ciudadano">{{not.ciudadano.nombres}} {{not.ciudadano.apellidos}} a solicitado adoptar a {{not.mascota.nombre}}</p>
                                                <p *ngIf="not.voluntario">{{not.voluntario.nombres}} {{not.voluntario.apellidos}} a solicitado adoptar a {{not.mascota.nombre}}</p>
    
                                            </div>
                        
                                    
                                            <div class="imgnotiS2" >
                                                
                                                    <img *ngIf="not.mascota.fotos.length > 0" src="{{url + 'obtener-foto-mascota/' + not.mascota.fotos[0].name}}">
                                                    <img *ngIf="not.mascota.fotos.length == 0" src="../../../../assets/img/Captura2.png">
                                            </div>
                                        </div>
                                        <!--NOTIFICACION TIPO AYUDA - (ACOGIDA-ATENDIDA) -->
                                        <div class="contNot"  [routerLink]="['/perfil-emergencia', idFun, not.emergencia._id]" *ngIf="not.tipo == 5 || not.tipo == 6">
                                            <div class="imgnotiS">
    
                                                    <img *ngIf="not.fundacion.logo" src="{{url + 'obtener-foto/' + not.fundacion.logo}}">
                                                    <img *ngIf="!not.fundacion.logo" src="../../../../assets/img/Captura2.png">
                                                </div>
                                           
                                            <div class="textnotiS" >
                                                <p *ngIf="not.tipo == 5">Has acogido una emergencia de tipo Urgente</p>
                                                <p *ngIf="not.tipo == 6">Marcaste como atentida una emergencia de tipo Urgente</p>
                                            </div>
                                            <div class="imgnotiS2" >
                                                    <img *ngIf=" not.emergencia.fotoMascota != null" src="{{url + 'obtener-imagen-emergencia/' + not.emergencia.fotoMascota}}">
                                                    <img *ngIf="not.emergencia.fotoMascota == null" src="../../../../assets/img/Captura2.png">
                                            </div>
                                          
                                        </div>
                                        <!--NOTIFICACION TIPO APROBADA - NEGAr EMERGENCIA ASIGNADA VOLUNTARIO -->
                                        <div class="contNot"  [routerLink]="['/perfil-emergencia', idFun, not.emergencia._id]" *ngIf="not.tipo == 7 || not.tipo == 8">
                                            <div class="imgnotiS">
    
                                                    <img *ngIf="not.voluntario.foto" src="{{url + 'obtener-foto/' + not.voluntario.foto}}">
                                                    <img *ngIf="!not.voluntario.foto" src="../../../../assets/img/Captura2.png">
                                                </div>
                                        
                                            <div class="textnotiS" >
                                                <p *ngIf="not.tipo == 7">{{not.voluntario.nombres}} {{not.voluntario.apellidos}} atenderá la emergencia asignada</p>
                                                <p *ngIf="not.tipo == 8">{{not.voluntario.nombres}} {{not.voluntario.apellidos}} no atenderá la emergencia asignada</p>
                                            </div>
                                            <div class="imgnotiS2" >
                                                    <img *ngIf="not.emergencia.fotoMascota != null" src="{{url + 'obtener-imagen-emergencia/' + not.emergencia.fotoMascota}}">
                                                    <img *ngIf="not.emergencia.fotoMascota == null" src="../../../../assets/img/Captura2.png">
                                            </div>
                                        
                                        </div>
                                         <!--NOTIFICACION TIPO DONACION -->
                                         <div class="contNot"   *ngIf="not.tipo == 3">
                                            <div class="imgnotiS" *ngIf="not.voluntario">
    
                                                    <img *ngIf="not.voluntario.foto" src="{{url + 'obtener-foto/' + not.voluntario.foto}}">
                                                    <img *ngIf="!not.voluntario.foto" src="../../../../assets/img/Captura2.png">
                                                    
                                                </div>
                                                <div class="imgnotiS" *ngIf="not.ciudadano">
    
                                                    <img *ngIf="not.ciudadano.foto" src="{{url + 'obtener-foto/' + not.ciudadano.foto}}">
                                                    <img *ngIf="!not.ciudadano.foto" src="../../../../assets/img/Captura2.png">
                                                    
                                                </div>
                                            <div class="textnotiS" >
                                                <p *ngIf="not.voluntario">{{not.voluntario.nombres}} {{not.voluntario.apellidos}} realizó una nueva donación</p>
                                                <p *ngIf="not.ciudadano">{{not.ciudadano.nombres}} {{not.ciudadano.apellidos}} realizó una nueva donación</p>
                                            </div>
                                            <div class="imgnotiS2" >
                                                    <img *ngIf="not.donacion.comprobante" src="{{url + 'obtener-comprobante/' + not.donacion.comprobante}}">
                                                    <img *ngIf="not.donacion.foto" src="{{url + 'obtener-comprobante/' + not.donacion.foto}}">
                                            </div>
                                        
                                        </div>
                                                          <!--NOTIFICACION TIPO DONACION ap - ng  -->
                                                          <div class="contNot"   *ngIf="not.tipo == 13 || not.tipo == 14">
                                                            <div class="imgnotiS" *ngIf="not.voluntario">
                    
                                                                    <img *ngIf="not.voluntario.foto" src="{{url + 'obtener-foto/' + not.voluntario.foto}}">
                                                                    <img *ngIf="!not.voluntario.foto" src="../../../../assets/img/Captura2.png">
                                                                    
                                                                </div>
                                                             
                                                            <div class="textnotiS" >
                                                                <p *ngIf="not.voluntario">{{not.voluntario.nombres}} {{not.voluntario.apellidos}} aprobó la donación asignada</p>
                                                            </div>
                                                            <div class="imgnotiS2" >
                                                                    <img *ngIf="not.donacion && not.donacion.comprobante" src="{{url + 'obtener-comprobante/' + not.donacion.comprobante}}">
                                                                    <img *ngIf="not.donacion && not.donacion.foto" src="{{url + 'obtener-comprobante/' + not.donacion.foto}}">
                                                            </div>
                                                        
                                                        </div>
                                    </div>
    
                                </div>
                                <div class="carga" *ngIf="cargaN == true">
                                        <div class="spinner-border text-primary" role="status">
                                                <span class="sr-only">Loading...</span>
                                              </div>
                                </div>
                              
                            </div>
    
                        </div>
                    </div>
                </li>
                <li class="nav-item login" *ngIf="!currentUser">
                    <a  [routerLinkActive]="['current']" [routerLink]="['/autenticacion']" class="nav-link"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
                </li>
                <li class="nav-item no" *ngIf="currentUser">
                    <div class="btn-group opciones">
                        <button type="button" class="btn btn-secondary btnDROPOP" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" id="dropNOTIF" >
                            <div class="containerNotifi">
                               
                                <div class="contentD">
                                        <button class="dropdown-item" type="button" (click)="cerrarSesion()">Cerrar sesión</button>
                                        <a class="dropdown-item"  [routerLink]="[name,idFun,'perfil']">Actualizar perfil</a>
                                </div>
                                
                            </div>
    
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>